{% extends "base.html" %}
{% block content %}
<h1 style="font-family:Georgia, serif; color:#9b2261; text-align: center; margin-top: 30px; margin-bottom: 20px;">Мы
    рады вас видеть в нашем кондитерском ателье!</h1>
<div style="text-align: center;">
    <h3 style="margin-left: 60px; font-family:Georgia, serif; color:#212121;">Номер телефона: +7-800-000-00-00</h3>
    <h3 style="margin-left: 60px;font-family:Georgia, serif; color:#212121; margin-bottom: 30px;">Адрес: ул. Ленина,
        50</h3>
</div>
<div style="text-align: center;">
    <img style="margin-left: 50px; margin-top: 10px; margin-bottom: 40px;" src="\static\img\Address.png" width="950"
         height="424">
</div>
<h1 style="font-family:Georgia, serif; color:#9b2261; text-align:center">Следите за нашей работой в социальных
    сетях:</h1>
<div style="text-align: center;">
    <a><img src="https://xn----7sbgab0c0adahmnfij0k.xn--p1ai/img/instagram.png" width="70"
                               height="70" style=" margin-bottom: 15px; margin-top: 15px;"></a>
    <a><img src="https://domini-pizza.ru/data/vklogo.png" width="70" height="70"
                               style="margin-left:5%; margin-bottom: 15px; margin-top: 15px;"></a>
</div>
<div style="text-align: center;">
    <img style="margin-left: 50px; margin-top: 10px; margin-bottom: 40px;" src="\static\img\baker.jpg" width="950"
         height="634">
</div>

{% endblock %}
