{% extends "base.html" %}

{% block content %}
    <h2 style="font-family:Georgia, serif; color:#9b2261; margin-left: 25px; margin-top: 30px; margin-bottom: 20px;">Редактирование заказа</h2>
    <form action="" method="post" style="margin-left: 30px;font-family:Georgia, serif; color:#212121; font-size: 22px;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.delivery_date.label }}<br>
            {{ form.delivery_date(class="form-control", type="date") }}<br>
            {% for error in form.delivery_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", type="text") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.taken() }} {{ form.taken.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="background-color:#e0a3c3; border:1px solid #d175a5") }}</p>
    </form>
{% endblock %}