{% extends "base.html" %}

{% block content %}
    <h2 style="font-family:Georgia, serif; color:#9b2261; margin-left: 25px; margin-top: 30px; margin-bottom: 20px;">Авторизация</h2>
    <form action="" method="post" style="margin-left: 30px;font-family:Georgia, serif; color:#212121; font-size: 22px;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="background-color:#e0a3c3; border:1px solid #d175a5") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}