{% extends "base.html" %}

{% block content %}
    <h1>Заказ</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.delivery_date.label }}<br>
            {{ form.delivery_date(class="form-control", type="date") }}<br>
            {% for error in form.delivery_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", type="text") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary", style="background-color:#e0a3c3; border:1px solid #d175a5") }}</p>
    </form>
{% endblock %}