{% extends "base.html" %}

{% block content %}
    <h1>Оцените заказ</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(class="form-control", type="str") }}<br>
            {% for error in form.rating.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control", type="text") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}